html {
    font-size: 20px;
    font-family: Helvetica, "Times New Roman", Times, serif;
}

header {
    background-color: white;
    box-shadow: -0.05rem -0.05rem 0.3rem #888888;
    width: 100%;
}

.icon-bar {
    background-color: black;
}

.listStyle {
    list-style-type: none;
}

ul {
    list-style-type: square;
}

figcaption {
    font-size: 1.1rem;
    text-align: center;

}

#myName {
    font-weight: bold;
}

.resume, .about, #work, .contact {
    margin: 0.5rem 0rem;
    padding: 0.5rem 0.5rem;
    box-shadow: -0.05rem -0.05rem 0.3rem #888888;
    height: 100%;
}

#work {
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
}

#myCanvas, #myResume {
    padding: 2rem;
    font-size: 1rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-align: center;
    font-size: 1.75vw;
}

fieldset {
    font-size: 1.5rem;
    border: 0;
}

#emailid, #nameid, #sendid {
    height: 2.5rem;
    font-size: .8rem;
    width: 35vw;
    background-color: whitesmoke;
}

#msgid {
    width: 35vw;
    height: 7.5rem;
    font-size: 0.8rem;
    background-color: whitesmoke;
}

#sendid {
    font-weight: bold;
    background-color: black;
    font-size: 1.25rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 35vw;
    color: #fff;


    label {
        width: 10rem;
        float: left;
        font-size: 1.2rem;
    }


}

.mycontainer {

    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* background-color:whitesmoke;
    border:1px solid black; */
}

#Inquiry {

    height: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}


#contactImg {

    margin: .5rem;
    padding: .5rem;
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
}

#resumeLabel {
    font-size: 2rem;
    font-weight: bold;
}

.blackbar {
    background-color: black;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
}

/* Remove the numbers from the list in nav */

.menu {
    display: inline-block;

}

.menu a::before {

    margin: .1rem .1rem;
    content: '';
}

.menu a::after {
    padding: .1rem .1rem;
    margin: .1rem .1rem;
    display: inline-block;
    content: '';
}

/* Style the links inside the navigation bar */

.menu a {
    margin: .5rem .5rem;
    padding: .5rem .5rem;
    color: #333;
    font-weight: bold;
    font-size: .85rem;
    justify-content: space-around;
    background-color: rgba(255, 192, 203, 0.267);
    box-shadow: -0.05rem -0.05rem 0.3rem #888888;
    /* Add rounded corners to shadow box */
    border-radius: 3em;
    /* Remove the underline on the links */
    text-decoration: none;

}

/* Change the color of links on hover */

.menu a:hover, a.selected {
    background-color: #ddd;
    color: black;
}


.Logo {
    height: 7.5rem;
    width: 15rem;
    float: left;

}

#ExampleWorkImg {
    height: 27rem;
    margin-left: auto;
    margin-right: auto;
}

#bodyImg {

    width: 20rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}


#aboutImg {

    width: 20rem;
    border-style: double;
    border-color: #888888;
    background: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#resumeImg {

    width: 15rem;
    margin: .5rem;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
}


body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-color: rgba(255, 192, 203, 0.267);
}



#emailMe, #linkedin {
    height: 2rem;
    width: 2.75rem;
}

#gitHub {
    height: 2.25rem;
    width: 2.75rem;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #d63384;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: black;
}

.row {
    text-align: center;

}

#name {
    font-size: 4.5vw;
    text-align: left;
}

#title {
    font-size: 2.5vw;
    text-align: left;

}

#mygreeting {
    text-align: left;

}

#textpos {

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hiddentag {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hiddentag {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #mygreeting {
        text-align: left;
        width: 30vw;
    }

    .hiddentag {
        display: contents;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hiddentag {
        display: contents;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hiddentag {
        display: contents;
    }
}